@(deals: List[Deal])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	<div class="page-title">
		<h2>Deals List</h2>
	</div>
	
	<div class="list-container">
		@for(deal <- deals){
				<div class="list-item" style="min-height:230px">
					<a href="@controllers.routes.Deals.show(deal.id)">
						<ul>
							<li>Deal id: @deal.id</li>
							<li>Company name: @Supplier.findById(deal.companyId).get.company</li>
							@if(deal.recommended){
								<li style="color:Green">Recommended: @deal.recommended</li>
								}else{
								<li>Recommended: @deal.recommended</li>
								}
							<li>Including items:</li>
							@for(product <- deal.products) {
									<li>@product.ean</li>
								}
							<li class="toggle"><a href="@controllers.routes.Deals.toggle(deal.id)">Toggle selected: @deal.accepted</a></li>
						</ul>
					</a>
				</div>
			}
	</div>
	
	
	<!-- We give the below href an arbitrary number so that it can put it in the route -->
	<div style="margin-left:220px">
		<a href="@controllers.routes.Deals.recommend(deals.size)"><button type="button" class="btn">Ask the computer to recommend the best deals</button></a>
	</div>
	
	<div style="margin-left:200px; padding-top:20px; padding-bottom:60px">
		<a href="@controllers.routes.PurchaseOrders.addPO(deals.size)"><button type="button" class="btn">Create purchase order templates from chosen deals</button></a>
	</div>
	
	
		
	
}