@(deal: Deal)(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	
	<div class="page-title">
		<h2>
			Deal id: @deal.id
		</h2>
	</div>
	
	<div class=details-container>
		<ul>
			<li>Company id: @deal.companyId</li>
			<li>Company name: @Supplier.findById(deal.companyId).get.company</li>
		</ul>
	</div>
	
	<div class="page-title">
		Products:
	</div>
	
	<div class="list-container">
		@for(product <- deal.products){
				<div class="list-item" style="min-height:230px">
					<a href="">
						<ul>
							<li>@Product.findByEan(product.ean).get.name</li>
							<li>@product.ean</li>
							<li>quantity: @product.quantity</li>
							<li>price: @product.price</li>
							<li>price per item: @product.pricePerItem</li>
						</ul>
					</a>
				</div>
		}
	</div>
	

}
