@(products: List[Product], stockRequired: Boolean)(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	
	
	<div>
		@if(stockRequired){
			<div id="stock-warning">
				<h2 class="warning">Stock is low!</h2>
			</div>
			} else {
			<div id="stock-warning-g">
				<h2 class="warning">No new stock required.</h2>
			</div>
			}
	</div>
	
	<div class="page-title">
		<h2>Product List</h2>
	</div>
	<div class="list-container">
		@for(product <- products) {
			<div class="list-item">
				<a href="">
					<ul>
						<li>@product.name</li>
						<li>Quantity: @product.quantity</li>
						<li>Threshold: @product.threshold</li>
					</ul>
				</a>
			</div>
		}	
	</div>
	
	}