@(PO: PurchaseOrder, productList : Map[Long, List[Double]], dealForm : Form[DealPartForm])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.Product
@import models.Supplier
@import models.PurchaseOrder
@main("Purchase Order") {
	
	<div class="page-title">
		<h2>
			Purchase Order Id: @PO.id
		</h2>
	</div>
	
	<div class="page-title", style="padding-top:0px">
		@if(PO.confirmed){
				<h2 style="color:green">Purchase Order Confirmed</h2>
			}
	</div>
	
	<div class="details-container">
		<ul>
			<li>Company Id: @PO.companyId</li>
			<li>Company: @Supplier.findById(PO.companyId).get.company</li>
			<li>Company address: @Supplier.findById(PO.companyId).get.address</li>
			<li>Date order placed: @PO.date</li>
			<li style="padding-top:20px">Ship to: 43 Gloucester Rd, Aldershot, Hampshire GU11 3SJ, UK</li>
		</ul>
	</div>
	
	<div class="page-title">
		Deals:
	</div>
	
	<div class="list-container">
		@for(deal <- PO.deals){
			<div class="list-item">
				<a href="@controllers.routes.Deals.show(deal.id)">
					<ul>
						<li>Deal id: @deal.id</li>
						<li>Quantity: @PO.quantities(deal.id)</li>
					</ul>
				</a>
			</div>
			}
	</div>
	
	<div class="page-title">
		Products ordered:
	</div>
	
	<div class="list-container">
		@for(productEan <- productList.keys){
			<div class="list-item">
				<a href="">
					<ul>
						<li>@Product.findByEan(productEan).get.name</li>
						<li>EAN: @productEan</li>
						<li>Quantity: @productList(productEan)(0).toInt</li>
						<li>Price per item: @productList(productEan)(1)</li>
						<li Style="padding-top:10px">Minimum required: @Product.difference(productEan)</li>
					</ul>
				</a>
			</div>
		}
	</div>
	
	<div class="page-title">
		<h2>Total cost: £@PurchaseOrder.total(PO.id)</h2>
	</div>
	
	<div style="padding-left:325px; padding-bottom:60px">
		@if(PO.confirmed!=true){
				<!-- pass arbitrary value PO.id -->
				<a href="@controllers.routes.PurchaseOrders.confirm(PO.id)"><button type="button" class="btn">Confirm Purchse Order</button></a>
			}
	</div>
	
	@if(PO.confirmed!=true){
		<div class="page-title">
			<h2>Increase quantity of a deal</h2>
		</div>
	
		@helper.form(action = routes.PurchaseOrders.dealQuantity()) {
			<fieldset style="margin-left:200px">
			<legend>
				@helper.inputText(dealForm("id"))
				@helper.inputText(dealForm("quantity"))
			</legend>
			</fieldset>
			<div style="padding-bottom:60px">
				<input type="submit" class="btn primary" value="Submit" style="margin-left:400px">
			</div>
		}
	}
	
	
}