@(PO: PurchaseOrder, productList : Map[Long, List[Double]])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.Product
@import models.Supplier
@import models.PurchaseOrder
@main("Purchase Order") {
	
	<div class="page-title">
		<h2>
			Purchase Order Id: @PO.id
		</h2>
	</div>
	
	<div class="details-container">
		<ul>
			<li>Company Id: @PO.companyId</li>
			<li>Company: @Supplier.findById(PO.companyId).get.company</li>
			<li>Date order placed: @PO.date</li>
		</ul>
	</div>
	
	<div class="page-title">
		Deals:
	</div>
	
	<div class="list-container">
		@for(deal <- PO.deals){
			<div class="list-item">
				<a href="">
					<ul>
						<li>Deal id: @deal.id</li>
						<li>Quantity: @PO.quantities(deal.id)</li>
					</ul>
				</a>
			</div>
			}
	</div>
	
	<div class="page-title">
		Products ordered:
	</div>
	
	<div class="list-container">
		@for(productEan <- productList.keys){
			<div class="list-item">
				<a href="">
					<ul>
						<li>@Product.findByEan(productEan).get.name</li>
						<li>EAN: @productEan</li>
						<li>Quantity: @productList(productEan)(0).toInt</li>
						<li>Price per item: @productList(productEan)(1)</li>
					</ul>
				</a>
			</div>
		}
	</div>
	
	<div class="page-title">
		<h2>Total cost: £@PurchaseOrder.total(PO.id)</h2>
	</div>
	
	
}