@(purchaseOrders: List[PurchaseOrder])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	
<div class="page-title">
	<h2>Purchase Orders</h2>
</div>


@if(purchaseOrders.isEmpty){
	<div style="text-align:center;font-weight:bold;color:red">
		No orders to display
	</div>
	}else{
	<div class="list-container">
		@for(PO <- purchaseOrders) {
			<div class="list-item">
				<a href="@controllers.routes.PurchaseOrders.show(PO.id)">
					<ul>
						<li>ID: @PO.id</li>
						<li>Date: @PO.date</li>
						@if(PO.confirmed){
								<li style="color:green">Confirmed</li>
							}else{
								<li style="color:#ff3333">Not confirmed</li>
							}
					</ul>					
				</a>
			</div>
			}
	</div>
	}
	


	
}