@(purchaseOrders: List[PurchaseOrder], dealForm : Form[DealPartForm])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	
<h2>Purchase Orders</h2>
@if(purchaseOrders.isEmpty){
	no orders to display
	}else{
		@for(PO <- purchaseOrders) {
			<dt><a href="@controllers.routes.PurchaseOrders.show(PO.id)">ID: @PO.id</a></dt>
			<dd>Date: @PO.date</dd>
			}
	}
	
<h2>Increase quantity of a deal</h2>
	@helper.form(action = routes.PurchaseOrders.dealQuantity()) {
		<fieldset>
			@helper.inputText(dealForm("id"))
			@helper.inputText(dealForm("quantity"))
		</fieldset>
		<p style="padding-bottom:70px"><input type="submit" class="btn primary" value="submit"></p>
		
	}

	
}