@(supplier: Supplier)(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.Product
@main("Supplier details") {
	<div class=page-title>
		<h2>
			@supplier.company
		</h2>
	</div>
	
	<div class=details-container>
		<ul>
			<li>Id: @supplier.id</li>
			<li>Contact name: @supplier.contactName</li>
			<li>Phone number: @supplier.phoneNumber</li>
			<li>Email: @supplier.email</li>
			<li>Automatically contact: @supplier.autoDeal</li>
		</ul>
	</div>
	
	<div class=page-title>
		Products sold:
	</div>
	
	<div class="list-container">
		@for(product <- supplier.products) {
			<div class="list-item">
				<a href="">
					<ul>
						<li>@Product.findByEan(product).get.name</li>
						<li>@product</li>
					</ul>
				</a>
			</div>
			}
	</div>
	
	
	
}