@(suppliers: List[Supplier], productForm: Form[ProductPartForm])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import helper._
@import play.api.mvc.Flash
@main(Messages("application.name")) {
	
	<div class="container">   
			@if(flash.get("success").isDefined){
				<div class="alert alert-success">
					@flash.get("success")
				</div>
			}
			@if(flash.get("error").isDefined){
				<div class="alert alert-error">
					@flash.get("error")
				</div>
			}
	</div>
	
	<div class=page-title>
		<h2>Supplier List</h2>
	</div>
	
	<div class="list-container">
		@for(supplier <- suppliers) {
			<div class="list-item">
				<a href="@controllers.routes.Suppliers.show(supplier.id)">
					<ul>
						<li>@supplier.company</li>
						<li>Id: @supplier.id</li>
						<li>Contact name: @supplier.contactName</li>
						<li>Phone number: @supplier.phoneNumber</li>
						<li>Email: @supplier.email</li>
						@if(supplier.autoDeal){
							<li style="color:Green">Automatically contact: @supplier.autoDeal</li>
							}else{
							<li style="color:#ff3333">Automatically contact: @supplier.autoDeal</li>
							}
						<li class="toggle"><a href="@controllers.routes.Suppliers.toggle(supplier.id)">Toggle automatic contact</a></li>
					</ul>
				</a>
			</div>
		}
	</div>
	<div style="margin-left:350px">
		<!-- We give the below href an arbitrary number so that it can put it in the route -->
		<a href="@controllers.routes.Suppliers.autoContact(suppliers.head.id)"><button type="button" class="btn">Contact suppliers</button></a>
	</div>
	
	<div class="page-title">
		<h2>Find suppliers by item:</h2>
	</div>
	
	@helper.form(action = routes.Suppliers.findByProduct()) {
		<fieldset style="margin-left:200px">
		<legend>
			@helper.inputText(productForm("ean"))
		</legend>
		</fieldset>
		<div style="padding-bottom:60px">
			<input type="submit" class="btn primary" value="Submit" style="margin-left:400px">
		</div>
		
		
	}	
	
}